* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//color declaration
$color: #f68121;
$font-color: blue;

//effect declaration
@mixin after {
  border-bottom: 2px solid blue;
  width: 90px;
  height: 10px;
}
@mixin box-shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

//css
body {
  .header {
    background-color: white;
    height: 100px;
    .image-container {
      width: 50%;
      height: 100%;
      margin: 20px auto;
      @media screen and (max-width: 800px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  //body container
  .body-container {
    background-image: url("https://presidential.edu.np/sales-conqueror/images/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 50px;
    padding-bottom: 200px;
    .img-container-board {
      width: 50%;
      height: auto;
      margin: 10px auto;
      img {
        height: auto;
        width: 100%;
      }
      @media screen and (max-width: 800px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
    .program-description {
      margin-top: 20px;
      color: white;
      font-size: 25px;
      text-align: center;
    }
  } ///register container
  .register-container {
    @include box-shadow;
    background-color: white;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: -150px;
    padding: 40px;
    border-radius: 30px;

    h1 {
      text-align: center;
      color: $color;
    }
    .register {
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto auto;
      text-align: center;
      border-radius: 30px;
      div {
        input,
        select {
          height: 40px;
          width: 80%;
          display: inline-block;
          margin-left: 10px;
          margin-top: 10px;
          border: 2px solid blue;
          border-radius: 5px;
        }
        input::placeholder {
          opacity: 1;
          padding-left: 10px;
        }
        input::-webkit-input-placeholder {
          opacity: 1;
          padding-left: 10px;
        }
        input:-ms-input-placeholder {
          opacity: 1;
          padding-left: 10px;
        }
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        display: block;
      }
    }
    div {
      margin-top: 20px;
      text-align: center;
      color: white;
      button {
        height: 45px;
        width: 120px;
        cursor: pointer;
        color: white;
        font-size: 18px;
        background-color: $font-color;
        border-radius: 5px;
        border: none;
      }
    }
    @media screen and (max-width: 1000px) {
      width: 80%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      display: block;
    }
  }

  //about section
  .about {
    text-align: center;
    width: 50%;
    margin: 50px auto;
    font-size: 20px;
    h1 {
      font-weight: bolder;
    }
    .after {
      height: 10px;
      width: 50px;
      border-bottom: 2px solid $font-color;
      margin: auto;
      margin-bottom: 30px;
    }
    .about-desc {
      opacity: 0.6;
    }

    @media screen and (max-width: 1000px) {
      width: 80%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      display: block;
    }
  }

  //Event details here
  .event-details {
    background-image: url("https://presidential.edu.np/sales-conqueror/images/event-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 100px;
    padding: 100px 0px;
    h2 {
      text-align: left;
    }
    .after {
      @include after;
    }
    .details {
      width: 50%;
      margin: auto;
      margin-right: 10px;
      @media screen and (max-width: 400px) {
        width: 100%;
        display: block;
        padding: 10px 0px 10px 30px;
      }
    }
    ol {
      font-size: 20px;
      li {
        margin: 10px;
      }
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      display: block;
      background-size: cover;
      padding: 30px 0px;
    }
  }

  //highlights and stakes
  .high-stake {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    width: 80%;
    margin: 50px auto;
    padding-bottom: 60px;
    .after {
      @include after;
    }
    .box {
      @include box-shadow;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
    }
    .highlight {
      div {
        ul {
          margin-top: 20px;
          font-size: 20px;
          list-style-position: inside;
          li {
            margin: 10px;
          }
        }
      }
    }

    .stake {
      div {
        .winner {
          margin-top: 20px;
          font-size: 20px;
          span {
            font-size: 20;
          }
          ul {
            list-style-position: inside;
            li {
              margin: 10px;
            }
          }
        }
        .runners-up {
          margin-top: 20px;
          font-size: 20px;
          span {
            font-size: 20px;
          }
          ul {
            list-style-position: inside;
            li {
              margin: 10px;
            }
          }
        }
      }
      @media screen and (max-width: 580px) {
        margin-top: 40px;
        display: block;
      }
    }
    @media screen and (max-width: 750px) and (min-width: 581px) {
      column-gap: 20px;
    }
    @media screen and (max-width: 580px) {
      display: block;
    }
  }

  //    top footer with registration
  .footer {
    background-image: url("https://presidential.edu.np/sales-conqueror/images/footer-bg.png"),linear-gradient(to right, #F0F1FF, #fff, #F0F1FF);;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
    padding-bottom: 30px 0px;
    .register-bottom-container {
      width: 50%;
      height: auto;
      margin: auto;
      margin-top: 20px;
      padding: 40px;
      border-radius: 30px;

      h1 {
        text-align: center;
        font-weight: bolder;
        color: $font-color;
      }
      .after {
        @include after;
        margin: auto;
      }
      .register {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
        border-radius: 30px;
        div {
          input,
          select {
            height: 40px;
            width: 80%;
            display: inline-block;
            margin-left: 10px;
            margin-top: 10px;
            border: 2px solid blue;
            border-radius: 5px;
            @media screen and (max-width: 400px) {
              width: 100%;
            }
          }
          input::placeholder {
            opacity: 1;
            padding-left: 10px;
          }
          input::-webkit-input-placeholder {
            opacity: 1;
            padding-left: 10px;
          }
          input:-ms-input-placeholder {
            opacity: 1;
            padding-left: 10px;
          }
        }
        @media screen and (max-width: 600px) {
          width: 100%;
          display: block;
        }
      }
      div {
        margin-top: 20px;
        text-align: center;
        color: white;
        button {
          height: 45px;
          width: 120px;
          cursor: pointer;
          color: white;
          font-size: 18px;
          background-color: $font-color;
          border-radius: 5px;
          border: none;
        }
      }
      @media screen and (max-width: 1000px) {
        width: 80%;
      }
      @media screen and (max-width: 450px) {
        width: 100%;
        display: block;
      }
    }
    @media screen and (max-width: 600px) {
      background-size: cover;
      padding: 10px;
    }
  }
  .footer-footer {
    background-color: $font-color;
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
    color: white;
  }
}
